@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background:url('../imagens/fundo-madeira.jpg'),no-repeat, center;
    background-size: cover;
    background-attachment: fixed;
  

}
main{
    height: 100vh;  
    position: relative;
   
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
iframe#tela{
    position: relative;
     top: 80px;
     left: 23px;
     width: 267px;
     height: 470px;
}
section#redes-sociais > a >img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   box-shadow: 2px 2px 6px black;
   box-sizing: border-box;
     margin: 10px;
     
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais > a > img:hover{
    border: solid rgba(255, 255, 255, 0.563);
    transform:translate(-2px, -2px) ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.477);
    transition: transform 0.5s, border .5s;

}
